$(start_block_header)
#pragma once
#include "gui/types.hpp"
$(end_block_header)

$(start_block_images_table)
static uint$(img_data_block_size)_t image_data_$(doc_name_ws)[$(out_blocks_count)] = {
    $(out_image_data)
};
const qymos::gui::tImage $(doc_name_ws) = { image_data_$(doc_name_ws), $(out_image_width), $(out_image_height), $(img_data_block_size), $(out_blocks_count) };
$(end_block_images_table)
